@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;700&display=swap');

body {
  font-family: 'Space Grotesk', sans-serif;
}

video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: filter 0.5s ease;
}

.content {
  position: absolute;
  width: 100%;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  z-index: 1;
  padding: 20px 0;
}

.overlay {
  position: inherit;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 0;
  transition: background-color 0.5s ease;
}

.blur {
  filter: blur(5px);
}

/* ------- Logo ------- */
.App-logo{
  width: 200px;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* ------- App Header ------- */

.App-header {
  position: absolute;
  width: 100%;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  z-index: 1; /* Ensure content is above the video */
}

/* ------- navbar -------  */

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 5px 0px;
  font-size: small;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

.logo-container {
  display: flex;
  align-items: center;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav ul li {
  margin-left: 20px;
  padding-right: 50px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 25px;
  position: relative;
}

nav ul li a::after {
  content: '';
  width: 0%;
  height: 3px;
  background: rgb(166, 0, 255);
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: 0.25s;
}

nav ul li a:hover::after {
  width: 100%;
}